services:
  fastapi:
    container_name: fastapi
    build: ./fastapi/
    restart: unless-stopped
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
  frontend:
    container_name: frontend
    build: ./frontend/
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
