@import "tailwindcss";

body {
    margin: 0;
}

:root {
    --h: 140;
    --s: 24%;
    --l: 30%;
    --intensity: 1;
    --speed: 1;
    --scale: 1;
    --blur: 80px;
    --ease: cubic-bezier(.25, .8, .25, 1);
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    background:
        radial-gradient(1200px 800px at 20% 20%, hsl(calc(var(--h) - 4), calc(var(--s) - 6%), calc(var(--l) + 6%)), transparent 40%),
        radial-gradient(900px 600px at 75% 30%, hsl(calc(var(--h) + 6), calc(var(--s)), calc(var(--l) + 4%)), transparent 45%),
        hsl(var(--h), calc(var(--s) - 4%), calc(var(--l) - 4%));
    overflow: hidden;
}

.blob {
    position: absolute;
    border-radius: 50%;
    mix-blend-mode: screen;
    opacity: calc(0.6 * var(--intensity));
    will-change: transform;
    background: radial-gradient(circle at 30% 30%,
            hsl(var(--h), calc(var(--s) + 8%), calc(var(--l) + 14%)),
            hsl(var(--h), var(--s), calc(var(--l) + 4%)) 40%,
            transparent 75%);
    width: calc(60vmax * var(--scale));
    height: calc(60vmax * var(--scale));
}

.b1 {
    animation: move1 calc(32s / var(--speed)) var(--ease) infinite;
}

.b2 {
    animation: move2 calc(42s / var(--speed)) var(--ease) infinite;
}

.b3 {
    animation: move3 calc(52s / var(--speed)) var(--ease) infinite;
}

@keyframes move1 {
    0% {
        transform: translate(-20%, -12%) scale(1);
    }

    50% {
        transform: translate(-32%, 6%) scale(1.05);
    }

    100% {
        transform: translate(-20%, -12%) scale(1);
    }
}

@keyframes move2 {
    0% {
        transform: translate(14%, 20%) scale(1.1);
    }

    50% {
        transform: translate(4%, -6%) scale(0.98);
    }

    100% {
        transform: translate(14%, 20%) scale(1.1);
    }
}

@keyframes move3 {
    0% {
        transform: translate(-4%, 28%) scale(0.95);
    }

    50% {
        transform: translate(18%, 16%) scale(1.08);
    }

    100% {
        transform: translate(-4%, 28%) scale(0.95);
    }
}
